<div class="panel panel-content search-panel search-panel-auto">
  <div class="panel-body annotation-result">
    <div class="media">
      <div class="media-left">
        <% unless document['target_url'].blank? %>
          <% t_url = document['target_url'].first.partition('#')[0] %>
          <%= image_tag(t_url, class: 'media-object results-thumbnail') %>
        <% end %>&nbsp;
      </div>
      <div class="media-body">
        <% unless document['body_chars_display'].blank? %>
          <h4 class="media-heading"><a href="/manuscript/<%=document['druid']%>/folio/<%=document['folio']%>?view=annotations"><%= truncate(document['body_chars_display'], length: 150) %></a></h4>
        <% else %>
          <h4 class="media-heading"><a href="/manuscript/<%=document['druid']%>/folio/<%=document['folio']%>?view=annotations"><%= document['id'] %></a></h4>
        <% end %>
        <% unless document['authors_all_display'].blank? %>
          <p><strong><%= raw document['authors_all_display'].join('<br/>') %></strong></p>
        <% end %>
        <% unless document['language'].blank? %>
            <p><%= document['language'].join(', ') %></p>
        <% end %>
        <!--<% unless document['body_type'].blank? %>-->
          <!--<p><%#= raw document['body_type'].join(', ') %></p>-->
        <!--<% end %>-->
        <% unless document['folio'].blank? %>
          <p><%= document['folio'] %></p>
        <% end %>
        <% unless document['manuscript_display'].blank? %>
          <p><%= document['manuscript_display'] %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

