<div class="media">
  <div class="media-left">
    <% unless document['img_info'].blank? %>
        <%= image_tag(document['img_info'].first, class: 'media-object results-thumbnail') %>
    <% end %>&nbsp;
  </div>
  <div class="media-body">
    <!-- IIIF manifest -->
    <% if show_manifest == true && !document['manifest_urls'].blank? %>
          <span class="pull-right iiif-logo">
            <a href="<%=document['manifest_urls'].first%>"><%= image_tag('iiif-logo.png') %></a>
          </span>
    <% end %>
    <!-- metadata -->
    <h4 class="media-heading">
      <a href="/manuscript/<%=document['druid']%>?start=<%=count%>"><%= document['title_display'] %></a>
    </h4>
    <% unless document['authors_all_display'].blank? %>
        <p><strong><%= raw document['authors_all_display'].join('<br/>') %></strong></p>
    <% end %>
    <% unless document['abstract_display'].blank? %>
        <p><%= truncate(document['abstract_display'], length: 150) %></p>
    <% end %>
  </div>
</div>