<div class="inline-headers">
  <h2>Manuscripts</h2>
  <% if @response_m['response']['numFound'] > 0 %>
    <h4><span class="glyphicon glyphicon-forward tabbed" aria-hidden="true"></span>
    <%= form_tag search_action_url, method: :get, class: 'pull-right', role: 'search' do %>
      <%= hidden_field_tag :search_field, "descriptions" %>
      <%= hidden_field_tag :q, params[:q] %>
      <button type="submit" class="btn-link">See all <%= @response_m['response']['numFound'] %></button>
    <% end %>
    </h4>
  <% else %>
    <h4><span> No results</span></h4>
  <% end %>
</div>

<%= render partial: 'shared/manuscript', collection: @document_list_m[0, 4], as: :document %>
