<div id="content">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => '/manuscript/header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => '/manuscript/manifest' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render :partial => '/manuscript/description' %>
    </div>
    <div class="col-md-4">
      <%= render :partial => '/manuscript/folio' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => '/manuscript/footer' %>
    </div>
  </div>
</div>