<% @response = @response_a %>
<% @document_list = @document_list_a %>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do -%>
    <%= render_opensearch_response_metadata %>
    <%= rss_feed_link_tag %>
    <%= atom_feed_link_tag %>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <div class="refine">
      <%= render partial: 'catalog/refine_search' %>
    </div>
    <div class="summary">
      <h2 class="top-content-title"><%= @response_a['response']['numFound'] %> Annotations</h2>
      <%= render partial: 'shared/results_header' %>
    </div>
  </div>
</div>

<div id="content" class="<%#= main_content_classes %>">
  <%= render partial: 'catalog/annotation_search_results' %>
</div>
