<% @response = @response_t %>
<% @document_list = @document_list_t %>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do -%>
    <%= render_opensearch_response_metadata %>
    <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
    <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <div class="refine">
      <%= render 'refine_search' %>
    </div>
    <div class="summary">
      <h2 class="top-content-title"><%= @response_t['response']['numFound'] %> Transcriptions</h2>
      <%= render partial: 'shared/results_header' %>
    </div>
  </div>
</div>

<div id="content" class="<%#= main_content_classes %>">
  <%= render partial: 'catalog/transcription_search_results' %>
</div>
