<%- # requires solr_config local passed in
  field_config = range_config('pub_date_t')  
  label = facet_field_label('pub_date_t')
  
  input_label_range_begin = field_config[:input_label_range_begin] || t("blacklight.range_limit.range_begin", field_label: label)
  input_label_range_end   = field_config[:input_label_range_end] || t("blacklight.range_limit.range_end", field_label: label)
-%>

<div class="row" id="century">
  <h3>by century</h3>
  <%= content_tag :div, class: "col col-md-3", id: "century_slider", data: { boundaries: @boundaries, ticks: @slider_ticks} do %>
  <% end %>
 
  <%= content_tag :div, class: "col col-md-9", id: "century_panel", data: { rawdata: @data_array, ticks: @data_ticks, pointerlookup: @pointer_lookup} do %>
    <div id="browse_century" class="panel-body" style="width:80%;height:100%;">
    </div>
  <% end %>

  <%= form_tag catalog_index_path, :method => :get, :class=>"range_limit subsection range_pub_date_t form-inline" do %>
    <%= hidden_field_tag("search_field", "descriptions", id: 'search_all_fields_century') %>
    <%#= hidden_field_tag("q", "*") %>
    <%= render_range_input( 'pub_date_t', :begin, input_label_range_begin) %> – <%= render_range_input('pub_date_t', :end, input_label_range_end) %>
    <%= submit_tag t('blacklight.range_limit.submit_limit'), :class=>'submit btn btn-default' %>
  <% end %>

</div>

